# Python
__pycache__/
*.py[cod]
.env
asfds/*
env/

# Данные и модели
models/*
documents/
static/audio/*
chroma_db/*
data/*

# Логи и временные файлы
logs/*.log
*.tmp

# IDE
.vscode/
.idea/
app.log
/temp
