{% extends "base.html" %}

{% block content %}
  {% include 'components/accessibility-panel.html' %}

  <div class="container">


    <main class="chat-container">
      <div class="messages" id="messages">
        {% for message in messages %}
          {% include "components/message.html" %}
        {% endfor %}
      </div>

      {% include "components/input-area.html" %}
      
      <div class="clear-btn-wrapper">
        <button id="clear-btn" class="clear-btn" aria-label="Очистить чат">Очистить чат</button>
      </div>
    </main>
  </div>
{% endblock %}
