{% extends "base.html" %}

{% block content %}
    {% include "components/accessibility-panel.html" %}

    <div class="container">
        {% include "components/header.html" %}

        <main class="chat-container">
            <div class="messages" id="messages">
                {% for message in messages %}
                    {% include "components/message.html" %}
                {% endfor %}
            </div>

            {% include "components/input-area.html" %}
        </main>
    </div>
{% endblock %}